<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="50050">
        <setting label="50073" id="QuitKodi" type="enum" values="Yes|No|Ask" default="0"/>
        <setting label="50061" id="KodiLinux" type="executable" visible="System.Platform.Linux" default="/usr/bin/kodi"/>
        <setting label="50062" id="SteamLinux" type="executable" visible="System.Platform.Linux" default="/usr/bin/steam"/>
        <setting label="50061" id="KodiWin" type="executable" visible="system.platform.windows" default="C:\Program Files (x86)\Kodi\Kodi.exe"/>
        <setting label="50062" id="SteamWin" type="executable" visible="system.platform.windows" default="C:\Program Files (x86)\Steam\steam.exe"/>
        <setting label="50061" id="KodiOsx" type="folder" visible="system.platform.osx" default="/Applications/Kodi.app/"/>
        <setting label="50062" id="SteamOsx" type="folder" visible="system.platform.osx" default="/Applications/Steam.app/"/>
        <setting label="50116" id="PreScriptEnabled" type="bool" default="false"/>
        <setting label="50117" id="PreScript" type="executable" enable="eq(-1,true)"/>
        <setting label="50119" id="PostScriptEnabled" type="bool" default="false"/>
        <setting label="50118" id="PostScript" type="executable" enable="eq(-1,true)"/>
    </category>
    <category label="50100">
        <setting label="50110" id="DelUserScript" type="bool" default="false"/>
        <setting label="50115" id="KodiPortable" type="bool" default="false"/>
        <setting label="50112" id="BusyDialogTime" type="number" default="10"/>
        <setting label="50113" id="ScriptUpdateCheck" type="bool" default="true"/>
        <setting label="50114" id="FilePathCheck" type="bool" default="true"/>
        <setting label="50120" id="WmctrlCheck" type="bool" visible="System.Platform.Linux" default="true"/>
    </category>
</settings>
 
