<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="50000">
		<setting id="SuspendAudio" label="50051" type="bool" default="false"/>
		<setting id="BackgroundKodi" label="50052" type="bool" default="false"/>
		<setting id="ShowAllGames" label="50021" type="bool" default="false"/>
		<setting id="CreateSystemArtworkFolder" label="50053" type="bool" default="True"/>
		<setting id="AdditionalLogging" label="50108" type="bool" default="false"/>
	</category>
	<category label="50010">
		<setting label="Ghostscript" type="lsep"/>
		<setting id="GhostscriptUse" label="50011" type="bool" default="false"/>
		<setting id="GhostscriptPath" label="50012" type="executable" default="c:\Program Files\gs\gs9.18\bin\gswin64c.exe" enable="eq(-1,true)"/>
		<setting id="GhostscriptDpi" label="50013" type="number" default="200" enable="eq(-2,true)"/>
		<setting id="GhostscriptDSF" label="50016" type="number" default="3" enable="eq(-3,true)"/>
		<setting id="DefaultImageView" label="50014" type="number" default="500" enable="eq(-4,true)"/>
	    <setting label="Plugin.pdf.reader" type="lsep"/>
		<setting id="PluginPdfReaderUse" label="50015" type="bool" default="false"/>
	    <setting label="External PDF Viewer" type="lsep"/>
		<setting id="ExtPdfReaderUse" label="50017" type="bool" default="false"/>
		<setting id="ExtPdfReaderPath" label="50018" type="executable" default="c:\Program Files\gs\gs9.18\bin\gswin64c.exe" enable="eq(-1,true)"/>	</category>
	<category label="50020">
		<setting id="SearchThreading" label="50022" type="bool" default="true"/>
		<setting id="DefaultSearchView" label="50023" type="number" default="501"/>
	</category>
	<category label="50030">
		<setting id="hlservice_settings" type="action" label="50030" option="close" action="RunPlugin(plugin://plugin.hyper.launcher/?mode=hls_settings)"/> 
	</category>	

</settings>
