<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="50000">
		<setting id="BlankSearch" label="50050" type="bool" default="false"/>
		<setting id="SuspendAudio" label="50051" type="bool" default="false"/>
		<setting id="BackgroundKodi" label="50052" type="bool" default="false"/>
	</category>
</settings>